/* use a different class to mark errors on pad, but works just like A1 (red) */
.font-color-ERROR,
.font-color-A1  { color: #FF0000; }
.font-color-A2  { color: #FF7E00; }
.font-color-A3  { color: #FFCC00; }
.font-color-A4  { color: #50F000; }
.font-color-A5  { color: #00C200; }
.font-color-A6  { color: #14F0F2; }
.font-color-A7  { color: #16AAFF; }
.font-color-A8  { color: #206EFF; }
.font-color-A9  { color: #A02DDC; }
.font-color-A10 { color: #FF1880; }

.font-color-B11 { color: #A2080C; }
.font-color-B12 { color: #A25308; }
.font-color-B13 { color: #A48720; }
.font-color-B14 { color: #369908; }
.font-color-B15 { color: #067B06; }
.font-color-B16 { color: #14989A; }
.font-color-B17 { color: #1670A3; }
.font-color-B18 { color: #1D4CA3; }
.font-color-B19 { color: #69238C; }
.font-color-B20 { color: #A31856; }

.font-color-C21 { color: #EA9092; }
.font-color-C22 { color: #EABD90; }
.font-color-C23 { color: #EDDCA0; }
.font-color-C24 { color: #A9E38E; }
.font-color-C25 { color: #8CCF8C; }
.font-color-C26 { color: #96E3E5; }
.font-color-C27 { color: #99CDEB; }
.font-color-C28 { color: #9EB9EB; }
.font-color-C29 { color: #CAA2DE; }
.font-color-C30 { color: #EB99BE; }

.font-color-D31 { color: #692D3C; }
.font-color-D32 { color: #7D5337; }
.font-color-D33 { color: #968C5A; }
.font-color-D34 { color: #6E875F; }
.font-color-D35 { color: #4B6455; }
.font-color-D36 { color: #4B7D82; }
.font-color-D37 { color: #41697D; }
.font-color-D38 { color: #4B5569; }
.font-color-D39 { color: #5A4169; }
.font-color-D40 { color: #694655; }
